---
import Layout from '../layouts/Layout.astro';
import Welcome from '@/components/Welcome.astro';
---

<Layout title="DashBoard">
    <main>
        <Welcome />
    </main>
</Layout>

<style>
	
</style>
