---

---

<div class="flex flex-col items-center p-5 gap-5">
    <div class="text-4xl font-medium text-gray-100">
        <h1>Mi primera interacción con una API</h1>
    </div>
    <picture class="flex flex-col justify-center items-center p-4 gap-5">
        <img
            src="https://www.raccoongames.es/img/productos/2017/06/03/x_gye-fp4316.jpg"
            alt="rick-morty-portada"
        />
        <a
            class="text-2xl text-gray-400 hover:text-blue-500"
            href="https://rickandmortyapi.com/"
            target="_blank">⟞The Rick and Morty API⟝</a
        >
    </picture>
</div>
